@model IEnumerable<BusinessObjects.Models.Account>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCooperative.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int idpo = 0;
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Danh sách nhân viên</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách nhân viên</h1>
        </div>
    </div>
    <!--/.row-->
  
    <div id="toolbar" class="btn-group">
        <a asp-action="CreateStaff" class="btn btn-success">

            <i class="glyphicon glyphicon-plus"></i> Thêm nhân viên
        </a>

    </div>



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="toolbar" class="btn-group"
                         style="  position: relative; float: right;margin-top: 8px; ">

                        <button class="btn btn-link">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>

                    </div>
                    <div id="toolbar" class="select_area"
                         style=" width: 200px ; position: relative; float: right;margin-top: 11px;">

                        <input type="text" class="form-control" placeholder="Search Phone">

                    </div>




                    <table data-toolbar="#toolbar" data-toggle="table">


                        <thead>
                            <tr>
                                <th>Ảnh nhân viên</th>
                                <th>Họ & Tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Chức vụ</th>
                                <th>Lương</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                idpo++;
                                <tr>
                                    @if (@item.Image == null)
                                    {
                                        <td><img class="imgAvatar" src="~/images/avatar.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td><img class="imgAvatar" src=@item.Image alt="" /></td>
                                    }
                                    <td>@item.Fullname</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.IdRoleStaffNavigation.IdRoleNavigation.Type</td>
                                    <td>@item.IdRoleStaffNavigation.Salary</td>
                                    <td class="form-group">
                                        <a asp-action="EditStaff" asp-route-id="@item.IdAcc" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>

                                        <a href="#" class="btn btn-danger"
                                       onclick="document.getElementById('@idpo').style.display='block'">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        <div id="@idpo" class="modal">
                                            <span onclick="document.getElementById('@idpo').style.display='none'"
                                              class="close" title="Close Modal">×</span>


                                            <form class="modal-content ">
                                                <div class="container1">
                                                    <h1>Xóa Thành Viên</h1>
                                                    <p>Bạn có chắc là muốn xóa không?</p>

                                                    <div class="clearfix">
                                                        <button type="button"
                                                            onclick="document.getElementById('@idpo').style.display='none'"
                                                            class="cancelbtn">
                                                            Thoát
                                                        </button>
                                                        <a asp-action="DeleteAccount" asp-route-id="@item.IdAcc">
                                                            <button type="button"
                                                                onclick="document.getElementById('@idpo').style.display='none'"
                                                                class="deletebtn">
                                                                Xóa
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->

</div>