@model IEnumerable<BusinessObjects.Models.PondDiary>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutFarm.cshtml";
     Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    
}
<link rel="stylesheet" href="~/css/daily.css">

<main>
    <div class="line w3-center">
        <div class="row">
            @foreach (var item in Model)
            {
                DateTime a = Convert.ToDateTime(@item.Date);
                <div class="card ">
                    <h2>@a.ToString("dd/M/yyyy")</h2>
                    <div class="text">
                        <p>Mực độ nước: @item.WaterLevel m</p>
                        <p>Nhiệt độ: @item.Temperature &#176C</p>
                        <p>Độ pH: @item.Ph </p>
                        <p>Độ mặn: @item.Sanility &#8240</p>
                        @if (@item.FishStatus.Equals("Good"))
                        {
                            <p>Trạng Thái: Bình Thường </p>
                        }else if (@item.FishStatus.Equals("Warning"))
                        {
                             <p>Trạng Thái: Báo Động </p>
                        }

                    </div>
                </div>
            }


        </div>
    </div>


    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
           @if (pager.TotalPages > 0)
            {

                int a = pageNo;
                int b = pageNo;
                if (pageNo > 1)
                {
                    a = pageNo - 1;
                }
                if (pageNo < pager.EndPage)
                {
                    b = pageNo + 1;
                }
                @if (@ViewBag.Search == null)
                {
                    <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@a" class="w3-bar-item w3-button w3-hover-grey">«</a>

                    @for (var pge = 1; pge <= pager.EndPage; pge++)
                    {
                        <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@pge" class="w3-bar-item w3-grey w3-button">@pge</a>
                    }
                    <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@b" class="w3-bar-item w3-button w3-hover-grey">»</a>
                }
                else
                {
                    <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@a" asp-route-sea="@ViewBag.Search" class="w3-bar-item w3-button w3-hover-grey">«</a>

                    @for (var pge = 1; pge <= pager.EndPage; pge++)
                    {
                        <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@pge" asp-route-sea="@ViewBag.Search" class="w3-bar-item w3-grey w3-button">@pge</a>
                    }
                    <a asp-controller="Pond" asp-action="HistoryDaily" asp-route-pg="@b" asp-route-sea="@ViewBag.Search" class="w3-bar-item w3-button w3-hover-grey">»</a>
                }

            }
        </div>
    </div>

</main>