@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";

}

<link rel="stylesheet" href="~/css/cssfarm/index_user.css">
<link rel="stylesheet" href="~/css/cssfarm/profile_user.css">

<link rel="stylesheet" href="~/css/cssfarm/test.css">

<main>
    <section class="py-5 my-5">
        <div class="container">
            <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                <div class="profile-tab-nav border-right">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">

                            @if (@ViewBag.User.Image != null)
                            {
                                <img src="@ViewBag.User.Image" alt="Image" id="imgA" class="shadow">
                            }
                            else
                            {
                                <img src="~/images/avatar.png" alt="Image" id="imgA" class="shadow">
                            }

                        </div>
                        <h4 class="text-center">@ViewBag.User.Fullname</h4>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " asp-action="Profile" aria-selected="true">
                            <i class="fa fa-home text-center mr-1"></i>
                            Tài khoản
                        </a>
                        <a class="nav-link" asp-action="ChangePassword" aria-selected="false">
                            <i class="fa fa-key text-center mr-1"></i>
                            Đổi mật khẩu
                        </a>
                        @if (@ViewBag.User.IdRoleStaff == null)
                        {
                            <a class="nav-link" asp-action="JoinCooperative" aria-selected="false">
                                <i class="fa fa-star text-center mr-1"></i>
                                Hợp tác xã
                            </a>
                        }
                        else
                        {
                            <a class="nav-link"  style='pointer-events: none' asp-action="JoinCooperative" aria-selected="false">
                                <i class="fa fa-star text-center mr-1"></i>
                                Hợp tác xã
                            </a>
                        }
                    </div>
                </div>
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" role="tabpanel"
                         aria-labelledby="account-tab">
                        <h3 class="mb-4">Đổi Mật Khẩu</h3>
                        <form asp-action="ChangePassword">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nhập mật khẩu cũ</label>
                                        <input type="password" name="Oldpassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
                                               oninvalid="this.setCustomValidity('Vui lòng nhập hơn 8 kí tự có chữ và số')"
                                               oninput="this.setCustomValidity('')" class="form-control">
                                        @if (@ViewBag.Oldpassword != null)
                                        {
                                            <div style="color:red">@ViewBag.Oldpassword</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nhập mật khẩu mới</label>
                                        <input type="password" name="Newpassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
                                               oninvalid="this.setCustomValidity('Vui lòng nhập hơn 8 kí tự có chữ và số')"
                                               oninput="this.setCustomValidity('')" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Xác nhận mật khẩu</label>
                                        <input type="password" name="Confirmpassword" required class="form-control">
                                        @if (@ViewBag.Newpassword != null)
                                        {
                                            <div style="color:red">@ViewBag.Newpassword</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn-area btn-primary">Cập Nhật</button>
                            
                            </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </section>






</main>
