@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";

}

<link rel="stylesheet" href="~/css/cssfarm/index_user.css">
<link rel="stylesheet" href="~/css/cssfarm/profile_user.css">

<link rel="stylesheet" href="~/css/cssfarm/test.css">

<main>
    <section class="py-5 my-5">
        <div class="container">
            <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                <div class="profile-tab-nav border-right">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">
                         
                             @if (@ViewBag.User.Image != null)
                            {
                                <img src="@ViewBag.User.Image" alt="Image" id="imgA" class="shadow">
                            }
                            else
                            {
                              <img src="~/images/avatar.png" alt="Image" id="imgA" class="shadow">
                            }
                            

                        </div>
                       <h4 class="text-center">@ViewBag.User.Fullname</h4>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                         <a class="nav-link " asp-action="Profile" aria-selected="true">
                            <i class="fa fa-home text-center mr-1"></i>
                            Tài khoản
                        </a>
                        <a class="nav-link" asp-action="ChangePassword" aria-selected="false">
                            <i class="fa fa-key text-center mr-1"></i>
                            Đổi mật khẩu
                        </a>

                        <a class="nav-link" asp-action="JoinCooperative" aria-selected="false">
                            <i class="fa fa-star text-center mr-1"></i>
                            Hợp tác xã
                        </a>


                    </div>
                </div>

                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">



                    <div class="tab-pane fade show active" role="tabpanel"
                         aria-labelledby="account-tab">
                        <h3 class="mb-4">Tham gia hợp tác xã</h3>
                        <form asp-action="JoinCooperative">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Code</label>
                                    <input type="text" name="Joincode" class="form-control" pattern="^[0-9]{1,9}$"
                                                    oninvalid="this.setCustomValidity('Nhập sai joincode vui lông nhập lại')"
                                                    oninput="this.setCustomValidity('')" required>
                                </div>
                            </div>
                        </div>

                        @if (@ViewBag.wrong != null)
                        {
                            <div style="color:red">@ViewBag.wrong</div>
                        }
                        <button type="submit" style="border-radius: 4px; width: 80px; height: 40px;" class="btn-primary">Tham gia</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </section>






</main>
