@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCooperative.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Biểu đồ sản xuất</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Biểu đồ sản xuất</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="toolbar" class="select_area">
                       <input type="hidden" id="yearnow" value="@ViewBag.now" /> 
                       <select id="year" class="form-control" onmousedown="if(this.options.length>2){this.size=2;}"
                                onchange="functionYearM(this.value)">
                                @if(ViewBag.year !=null){
                                @foreach (var item in @ViewBag.year)
                                {
                                   @if (@item == @ViewBag.now)
                                    {
                                         <option selected value="@item">@item</option>
                                    }else{
                                    <option value="@item">@item</option>}
                                }
                            }
                        </select>
                    </div>
                    <div id="toolbar" class="select_area" style="  position: relative; margin-left: 4px;">

                        <a class="btn btn-primary" id="loadyear" href="https://localhost:7126/CooperativeRoomCooperative/ChartMember?year=@ViewBag.now">

                            <i class="glyphicon glyphicon-refresh"></i> Tải lại
                        </a>

                    </div>





                    <div class="col-md-9">

                        <div class="graphbox">

                            <div class="box">
                                <canvas id="earning"></canvas>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <ul class="list-group list-group">
                            <li class="list-group-item" id="areaChart"> <a asp-action="CooperativeRoomCooperative">Ao</a></li>
                            <li class="list-group-item" id="accountChart" ><a asp-action="ChartMember">Thành viên</a></li>
                         
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--/.row-->
</div>
<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="~/js/mychartMember.js"></script>