@model IEnumerable<BusinessObjects.Models.FishCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCooperative.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int idpo = 0;
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Danh sách giống cá</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách giống cá</h1>
        </div>
    </div>
    <!--/.row-->
 
    <div id="toolbar" class="btn-group">
        <a asp-action="AddFishCategoryCooperative" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Thêm giống cá
        </a>


    </div>
    <div id="toolbar" class="btn-group">
    </div>




    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                     <form asp-action="Searchfish">
                        <div id="toolbar" class="btn-group"
                             style="  position: relative; float: right;margin-top: 2px; ">

                            <button type="submit" class="btn btn-link">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>

                        </div>
                        <div id="toolbar" class="select_area"
                             style=" width: 200px ; position: relative; float: right;margin-top: 11px;">

                            <input type="text" name="search" class="form-control" placeholder="Search Name">

                        </div>
                    </form>
                    <table data-toolbar="#toolbar" data-toggle="table">
                       

                        <thead>
                            <tr>


                                <th data-field="name" data-sortable="true">Tên Cá</th>
                                <th data-field="price" data-sortable="true">Ảnh Cá</th>
                                <th data-field="username" data-sortable="true">Thời Gian Nuôi</th>
                                <th data-field="birthday" data-sortable="true">Độ Ph</th>
                                <th data-field="address" data-sortable="true">Nhiệt Độ</th>
                                <th data-field="date" data-sortable="true">Mực độ nước</th>
                                <th data-field="date" data-sortable="true">Độ mặn</th>
                                <th data-field="phone" data-sortable="true">Mô Tả</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td style="">@item.CategoryName</td>
                                    <td style="text-align: center">
                                        <img width="200px" height="240px" src=@item.Image />
                                    </td>
                                    <td style="">@item.HarvestTime ngày</td>
                                      <td style="">@item.Ph</td>
                                    <td style="">@item.Temperature &#176C</td>
                                    <td style="">@item.WaterLevel m</td>
                                    <td style="">@item.Sanility &#8240</td>
                                    <td style="">@item.Description</td>



                                </tr>
                            }

                    </table>
                </div>
                <div class="panel-footer">
                   
                     @if (pager.TotalPages > 0)
                    {
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @{
                                    int a = pageNo;
                                    int b = pageNo;
                                    if (pageNo > 1)
                                    {
                                        a = pageNo - 1;
                                    }
                                    if (pageNo < pager.EndPage)
                                    {
                                        b = pageNo + 1;
                                    }
                                }
                                @if (@ViewBag.Search == null)
                                {
                                    <li class="page-item"><a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@a">&laquo;</a></li>
                                    @for (var pge = 1; pge <= pager.EndPage; pge++)
                                    {
                                        <li class="page-item" @(pge == pager.CurrentPage ? "active" : "")>
                                            <a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@pge">@pge</a>
                                        </li>
                                    }
                                    <li class="page-item"><a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@b">&raquo;</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@a" asp-route-sea="@ViewBag.Search">&laquo;</a></li>
                                    @for (var pge = 1; pge <= pager.EndPage; pge++)
                                    {
                                        <li class="page-item" @(pge == pager.CurrentPage ? "active" : "")>
                                            <a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@pge" asp-route-sea="@ViewBag.Search">@pge</a>
                                        </li>
                                    }
                                    <li class="page-item"><a class="page-link" asp-controller="FishCategoryCooperative" asp-action="FishCategoryCooperative" asp-route-pg="@b" asp-route-sea="@ViewBag.Search">&raquo;</a></li>
                                }
                            </ul>

                        </nav>
                    }
                </div>


            </div>
        </div>
    </div>
    <!--/.row-->


</div>